.prompt-text {
  font-size: 20px;
  font-family: sans-serif;
  padding: 10px;
  margin: 0;
}

.prompt-box {
  background-color: #0057ff;
  border-radius: 16px;
  width: calc(50% - 60px); /* Adjust as needed */
  margin-bottom: 20px; /* Adjust spacing between items */
  color: white;
  display: flex;
  justify-content: left;
  padding: 20px;
  flex-direction: column;
}

.prompt-box:hover {
  cursor: pointer;
}

h1 {
  margin: 0;
}

.promptTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
